//*colors Variable*//
$black: #000000;
$white: #ffffff;
$blue: #5D8BFF;
$background: #EDF1FD;
$title: #141414;
$text: #5D5D65;
$overlay: rgba(11, 11, 11, 0.25);



//*fonts Variable*//
$font: "Cabin", sans-serif;


//*media Variable*//
$mobile-xxsm: 350px;
$mobile-xsm: 400px;
$mobile-sm: 576px;
$mobile: 768px;
$tablet: 991px;
$notebook: 1366px;