/*google foonts*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400..700&display=swap");
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__center {
    text-align: center;
}

.mt-6 {
    margin-top: 6rem;
}

@media (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .mt-6 {
        margin-top: 2rem;
    }
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .mt-4 {
        margin-top: 2rem;
    }
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .mt-2 {
        margin-top: 1rem;
    }
}

/*main style*/
html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: "Cabin", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a:focus {
    outline: none;
}

/*==============block=============*/
/*container*/
.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 560px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/*intro*/
.intro {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.intro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(11, 11, 11, 0.25);
}

.intro__content {
    position: relative;
    z-index: 100;
    padding-top: 15%;
    padding-bottom: 15%;
}

.intro__content--title {
    text-align: center;
    margin-bottom: 4.5rem;
}

.intro__content--title h1 {
    color: #ffffff;
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6.5rem;
    line-height: 7.9rem;
}

@media (max-width: 991px) {
    .intro__content--title h1 {
        font-size: 4.5rem;
        line-height: 5.9rem;
    }
}

@media (max-width: 768px) {
    .intro__content--title h1 {
        font-size: 2.5rem;
        line-height: 3.9rem;
    }
}

@media (max-width: 350px) {
    .intro__content--title h1 {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }
}

.intro__content--title h2 {
    width: 35%;
    margin: 0 auto;
    font-family: "SansSerif";
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.4rem;
    color: #ffffff;
}

@media (max-width: 991px) {
    .intro__content--title h2 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .intro__content--title h2 {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .intro__content--title {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 768px) {
    .intro__content--title {
        margin-bottom: 1.5rem;
    }
}

.intro__content--form {
    background-color: #EDF1FD;
    border-radius: 1.5rem;
    padding: 3.8rem;
}

@media (max-width: 991px) {
    .intro__content {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media (max-width: 768px) {
    .intro__content {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

@media (max-width: 576px) {
    .intro__content {
        padding-top: 6%;
        padding-bottom: 6%;
    }
}

.intro__form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .intro__form {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.contact__form {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__form label {
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #5D5D65;
    margin-bottom: 0.6rem;
}

.contact__form input {
    width: 100%;
    height: 5rem;
    padding-left: 2.5rem;
    border-radius: 3px;
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #e1e1e0;
    border-color: transparent;
}

.contact__form button {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5D8BFF;
    border-radius: 3rem;
    border: 1px solid #5D8BFF;
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.contact__form button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #5D5D65;
}

@media (max-width: 991px) {
    .contact__form {
        width: 50%;
        margin-bottom: 1.5rem;
    }

    .contact__form:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .contact__form {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .contact__form {
        width: 100%;
    }
}

/*services*/
.servicess {
    background-color: #EDF1FD;
    padding-top: 8.5rem;
    padding-bottom: 3rem;
}

.servicess__title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.servicess__title h2 {
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.8rem;
    line-height: 4.8rem;
    color: #5D8BFF;
}

@media (max-width: 991px) {
    .servicess__title h2 {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
}

@media (max-width: 768px) {
    .servicess__title h2 {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media (max-width: 991px) {
    .servicess__title {
        margin-bottom: 1rem;
    }
}

.servicess__button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2.5rem;
}

@media (max-width: 991px) {
    .servicess__button {
        margin-bottom: 1rem;
    }
}

@media (max-width: 450px) {
    .servicess__button {
        flex-direction: column;
        align-items: center;
    }
}

.servicess__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .servicess__content {
        justify-content: space-evenly;
    }
}

.servicess__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 991px) {
    .servicess {
        padding-top: 3rem;
    }
}

@media (max-width: 768px) {
    .servicess {
        padding: 2rem 0;
    }
}

.radio__button {
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #5D8BFF;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    border: 1px solid #5D8BFF;
    border-radius: 3rem;
    background-color: transparent;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.radio__button:last-child {
    margin-right: 0;
}

.radio__button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #5D8BFF;
}

@media (max-width: 450px) {
    .radio__button {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .radio__button:last-child {
        margin-bottom: 0;
    }
}

.servicess__active {
    color: #ffffff;
    background-color: #5D8BFF;
}

.servicess__card {
    width: 24%;
    background-color: #ffffff;
    padding: 2.5rem 2rem;
    margin-bottom: 2rem;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(62, 65, 159, 0.09);
    border-radius: 1.5rem;
}

.servicess__card--img {
    background-color: #EDF1FD;
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.servicess__card--title {
    margin-bottom: 1.5rem;
}

.servicess__card--title h3 {
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 2.6rem;
    color: #141414;
}

.servicess__card--text {
    margin-bottom: 1.5rem;
}

.servicess__card--text p {
    font-family: "SansSerif";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #5D5D65;
}

.servicess__card--button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.servicess__card--button button {
    width: 100%;
    margin-bottom: 0.8rem;
}

.servicess__card--button button:last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .servicess__card {
        width: 32%;
    }
}

@media (max-width: 768px) {
    .servicess__card {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .servicess__card {
        width: 75%;
    }
}

@media (max-width: 450px) {
    .servicess__card {
        width: 100%;
    }
}

.card__button {
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #5D8BFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    border: 1px solid #5D8BFF;
    border-radius: 3rem;
    background-color: transparent;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.card__button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #5D8BFF;
}

.card__active {
    color: #ffffff;
    background-color: #5D8BFF;
}

.card__active:hover {
    color: #5D8BFF;
    background-color: transparent;
}

.preview__card {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #5D8BFF;
    background-color: #5D8BFF;
    margin-right: 2rem;
    transition: background-color 0.2s linear;
}

.preview__card span {
    display: block;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: -0.5rem;
    transform: rotate(-45deg);
    transition: border-color 0.2s linear;
}

.preview__card:hover {
    cursor: pointer;
    background-color: transparent;
}

.preview__card:hover span {
    border-color: #141414;
}

.next__card {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #5D8BFF;
    background-color: #5D8BFF;
    transition: background-color 0.2s linear;
}

.next__card span {
    display: block;
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -0.5rem;
    transform: rotate(45deg);
    transition: border-color 0.2s linear;
}

.next__card:hover {
    cursor: pointer;
    background-color: transparent;
}

.next__card:hover span {
    border-color: #141414;
}
